<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>Catssificator - contents management console</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  	<link href="/static/lib/bootstrap/css/mainsite.css" rel="stylesheet">
  </head>

{% include "./static-pages/header.html" %} 

<blockquote></blockquote>
  
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>Missionary</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
    <span class="defaultFont">
          Think about it would be nice to have an automatic intelligent system that can classify all your search input into different categories without having a nightmare to develop one on your own (risks/resources/budgets..etc ?).  Your first thought of solution might be Google - well, however, this is not a nice free lunch.  Once you send them lot of 'robot' alike queries, they are just smart enough to figure out you are not a normal user and will block your IP in a second.  Therefore, it is always our mission to provide an <b>free open-source</b> A.I. system that can do this job right for you - you teach the system to recongize a query to a category, then next time you ask the same query again the system will know what category (or similar categories)should belong to the query!  
    </span>
    </td>
    </tr>
    <tr>
    <th>Why Catssificator</th>
    </tr>
    <tr>
    <td>
      If you are from any marketing firm or advertising or even any organization firm who wants to analyze your audiences' search activities and categorize these into different domains, then Catssificator is the right solution for you.  It provies you with a web-based platform and a powerful REST-ful API to interact.  As of now, your interactions (such as submitting a new query to a category, uploading a file to a category...etc) will be recorded and available to anyone else.  It is like Wikipedia - a public free repo for knowledge!
    </td>
    </tr>
 <tr>
    <th>Technically, what makes it unique to other samilar famous open-source product(s)</th>
    </tr>
    <tr>
    <td>
      <u>Elastic Search (E.S.)</u>:  First, E.S. does not have a capability to learn from the past.  Second, and most importantly, given a very small search query (like few words), E.S. is good at finding which content(s) this small search query belongs to.  However, we are exactly doing the opposite: we can take a very very long query (like hundreds or thousands words and deduce it to a specify category(ies) which usually has only few words.  Therefore, to conclude, E.S. specalizies at solving the search query problems while we try to solve the data categorization or classification problems.
    </td>
    </tr>
    <tr>
    <th>How to contribute</th>
    </tr>
    <tr>
    <td>
      Source code can be obtained from: <a href="https://github.com/wwken/category-classificator" target="_blank">github</a>
    </td>
    </tr>    
  </tr>
  </tbody>
  </table>


{% include "./static-pages/footer.html" %}