<!doctype html>
<html lang="en">
  <head>
  	<meta charset="utf-8">
    <title>Catssificator - contents management console</title>
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  	<link href="/static/lib/bootstrap/css/mainsite.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="/static/lib/bootstrap/js/main.js"></script>
  	<script>
      var cookie_NAME_SPACE='catssificator_cookie_'
      var cookie_Query_name = cookie_NAME_SPACE +'query'
    
          function txtSearchQueryInput_click() {

            $( "#txtSearchQueryInput" ).select();

            // Para Chrome's que da problema
            $( "#txtSearchQueryInput" ).on("mouseup", function() {
                // Unbindeamos el mouseup
                $( "#txtSearchQueryInput" ).off("mouseup");
                return false;
            });
      }

      function butSubmit_1_click() {
        var query = $("#txtSearchQueryInput").val();
        issueAjaxCallOnSubmitQueryButtonPressed(query);
      }

      function issueAjaxCallOnSubmitQueryButtonPressed (query) {
        var encodedQuery = encodeURIComponent(query);
          $.ajax({
            url:"/api/query", 
            data: "query=" + encodedQuery, success:
            function(result) {
              var j = parseJson(result);
              var resultMsg = getMessagesFromJson(j)
              var cat_full_name = getValuesFromJson(j, 'category-full-name')
              var result= getValuesFromJson(j, 'result')
              if (result=='no') {
                var token = getValuesFromJson(j, 'ticket-token')
                resultMsg += '<br/>However, it is recommened that you can suggest a category to it by <a href="upload.html?token='+token+'">clicking here</a>.'
              } else {
                if(cat_full_name) {
                  resultMsg += '<br/>The full category is: <b>' + cat_full_name + '</b>'
                }
              }
              //resultMsg=decorateWithSucessfulMessage(resultMsg)
              displayResultMessage("#divQueryResult", resultMsg)
            } 
            });
      }

      function txtSearchQueryInput_update() {
        refresh_ui()
      }
   
      function isTxtSearchQueryInputEmpty() {
        var sqInput = $( "#txtSearchQueryInput" ).val();
        return ( sqInput == '') || (sqInput.indexOf('Your search query...')>-1);
      }

      function refresh_ui_buttons_panel_1(p1, p2) {
         $( "#divButtonsPanel_1" ).css("pointer-events", p1);
         $( "#divButtonsPanel_1" ).css("opacity", p2);
      }

      function refresh_ui() {
        if(!isTxtSearchQueryInputEmpty()) {
          refresh_ui_buttons_panel_1(getPointerEventsValueOn(), getOpacityOn()); 
        } else {  //An category has been selected
          refresh_ui_buttons_panel_1(getPointerEventsValueOff(), getOpacityOff())
        } 
      }

      $(document).ready(function() {
          refresh_ui();
          var query_cookie=readCookie(cookie_Query_name)
          if (query_cookie != '') {
            $( "#txtSearchQueryInput").val(query_cookie);
            refresh_ui_buttons_panel_1(getPointerEventsValueOn(), getOpacityOn());
          }
      });

      
  </script>

  
  </head>
  
{% include "./static-pages/header.html" %}  

<blockquote><h2 class="mainTitle">Welcome to Catssificator - beta version.<br/>It is an machine learning engine that predicts what categor(ies) that a given search query should belong to based on previous knowledges. </h2> </blockquote>
  
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
    <th>Asks what is this query:</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>
          <textarea cols="350" rows="3" style="width:90%" id="txtSearchQueryInput" onclick="txtSearchQueryInput_click();" onkeyup="txtSearchQueryInput_update();" onblur="txtSearchQueryInput_update();">
                  Your search query...
                </textarea>
    </td>
    </tr>
    <tr>
    <td>
      <div id="divButtonsPanel_1">
                        <input type="button" value="Send" name="butSubmit_1" id="butSubmit_1" onclick="butSubmit_1_click();">
                        </div>
    </td>
    </tr>
    <tr>
    <td>
    <div id="divQueryResult"></div>
    </td>
    </tr>
  </tr>
  </tbody>
  </table>

{% include "./static-pages/footer.html" %}